.top {
    background-color: blue;
    height: 70px;
    width: auto;
}

.contents{
    margin: 0 auto;
}

.center-contents{
    display: flex;
    width: auto;
}

.center-left{
    background-color: blueviolet;
    height: 500px;
    width: 25%;
}

.center-right{
    background-color: green;
    height: 500px;
    width: 75%;
}

.under{
    background-color: blue;
    height: 130px;
    width: auto;
}